In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import category_encoders as ce
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [37]:
agent = pd.read_excel('agent_churn.xlsx')
agent.head()

,Agent_Number,Date_of_Appointment,Date_of_Termination,Commission_Class,Pay_Method,Pay_Frequency,Agent_Type,Agent_Branch_Code,Agent_Reporting_Level,Agent_Date_of_Birth,Agent_Gender,Number_of_Policies,Number_of_Claims,Total_Claim_Amount,Total_Payment_Amount,Total_Commission_Amount,Churn
0,50001187,20150526,99999999,3,DC,12,AM,10,1,19910507,M,5,0,0.0,0.0,0.0,N
1,50002503,20151214,99999999,3,CQ,12,AG,10,1,19830404,M,4,0,0.0,0.0,0.0,N
2,50004847,20200101,99999999,3,CQ,12,BR,10,1,19800101,M,0,0,0.0,0.0,0.0,N
3,50040992,20230104,99999999,3,CQ,12,AG,10,1,19750101,M,1,0,0.0,0.0,0.0,N
4,50041143,20230101,99999999,2,CQ,12,AM,10,1,19880101,M,0,0,0.0,0.0,0.0,N

In [3]:
agent.describe()

,Agent_Number,Date_of_Appointment,Date_of_Termination,Commission_Class,Pay_Frequency,Agent_Branch_Code,Agent_Reporting_Level,Agent_Date_of_Birth,Number_of_Policies,Number_of_Claims,Total_Claim_Amount,Total_Payment_Amount,Total_Commission_Amount
count,3.631000e+03,3.631000e+03,3.631000e+03,3631.000000,3631.0,3631.0,3631.000000,3.631000e+03,3631.000000,3631.000000,3.631000e+03,3.631000e+03,3631.000000
mean,5.998641e+07,2.019452e+07,9.973627e+07,2.819884,12.0,10.0,1.021757,2.053830e+07,5.180391,0.323327,2.067411e+12,1.041836e+06,494.882473
std,4.054492e+05,2.271700e+04,4.580583e+06,0.500744,0.0,0.0,0.145910,7.494366e+06,38.068030,2.033359,3.908566e+13,4.175273e+07,14315.155370
min,5.000119e+07,1.992010e+07,2.016010e+07,1.000000,12.0,10.0,1.000000,1.900010e+07,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,6.000198e+07,2.020010e+07,1.000000e+08,3.000000,12.0,10.0,1.000000,1.980010e+07,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
50%,6.000289e+07,2.020010e+07,1.000000e+08,3.000000,12.0,10.0,1.000000,1.980010e+07,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
75%,6.000382e+07,2.020010e+07,1.000000e+08,3.000000,12.0,10.0,1.000000,1.980010e+07,2.000000,0.000000,0.000000e+00,0.000000e+00,0.000000
max,6.000474e+07,2.032010e+07,1.000000e+08,3.000000,12.0,10.0,2.000000,1.000000e+08,1117.000000,63.000000,1.249980e+15,2.298660e+09,841000.000000

In [4]:
agent.columns

Index(['Agent_Number', 'Date_of_Appointment', 'Date_of_Termination',
       'Commission_Class', 'Pay_Method', 'Pay_Frequency', 'Agent_Type',
       'Agent_Branch_Code', 'Agent_Reporting_Level', 'Agent_Date_of_Birth',
       'Agent_Gender', 'Number_of_Policies', 'Number_of_Claims',
       'Total_Claim_Amount', 'Total_Payment_Amount', 'Total_Commission_Amount',
       'Churn'],
      dtype='object')

In [5]:
agent.shape

(3631, 17)

In [6]:
agent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 17 columns):
Agent_Number               3631 non-null int64
Date_of_Appointment        3631 non-null int64
Date_of_Termination        3631 non-null int64
Commission_Class           3631 non-null int64
Pay_Method                 3631 non-null object
Pay_Frequency              3631 non-null int64
Agent_Type                 3631 non-null object
Agent_Branch_Code          3631 non-null int64
Agent_Reporting_Level      3631 non-null int64
Agent_Date_of_Birth        3631 non-null int64
Agent_Gender               3631 non-null object
Number_of_Policies         3631 non-null int64
Number_of_Claims           3631 non-null int64
Total_Claim_Amount         3631 non-null float64
Total_Payment_Amount       3631 non-null float64
Total_Commission_Amount    3631 non-null float64
Churn                      3631 non-null object
dtypes: float64(3), int64(10), object(4)
memory usage: 482.3+ KB

In [7]:
agent['Commission_Class'].unique()

array([3, 2, 1], dtype=int64)

In [8]:
agent['Agent_Reporting_Level'].unique()

array([1, 2], dtype=int64)

In [9]:
agent['Agent_Type'].unique()

array(['AM', 'AG', 'BR', 'BM', 'UM', 'SM', 0, 'GM', 'DM', 'BA', 'CR',
       'AR', 7], dtype=object)

In [10]:
agent['Pay_Frequency'].unique()

array([12], dtype=int64)

In [11]:
agent['Pay_Method'].unique()

array(['DC', 'CQ'], dtype=object)

In [12]:
agent['Agent_Gender'].value_counts()

M    3287
      201
F     143
Name: Agent_Gender, dtype: int64

In [13]:
agent[agent == 99999999].count()

Agent_Number                  0
Date_of_Appointment           0
Date_of_Termination        3619
Commission_Class              0
Pay_Method                    0
Pay_Frequency                 0
Agent_Type                    0
Agent_Branch_Code             0
Agent_Reporting_Level         0
Agent_Date_of_Birth          32
Agent_Gender                  0
Number_of_Policies            0
Number_of_Claims              0
Total_Claim_Amount            0
Total_Payment_Amount          0
Total_Commission_Amount       0
Churn                         0
dtype: int64

In [14]:
#calculateAge 
from datetime import datetime
from datetime import date

def calculateAge(birthDate): 
    today = date.today() 
    age = today.year - birthDate.year - ((today.month, today.day) < (birthDate.month, birthDate.day)) 
    return age 
      
# Driver code  
#print(calculateAge(date(199723)), "years") 
#agent(age) = calculateAge(agent['Agent Date of Birth'])

#agent['age'] = agent['Agent Date of Birth'].apply(calculateAge)

In [15]:
#int2date is the date format function to convert from yyyymmdd to yyyy-mm-dd
from datetime import date

def int2date(argdate: int) -> date:
    year = int(argdate / 10000)
    month = int((argdate % 10000) / 100)
    day = int(argdate % 100)

    return date(year, month, day)

In [38]:
#Date of Appointment
DOA = agent['Date_of_Appointment']
print('DOA shape' , DOA.shape)
print(DOA.head())

modDOA = DOA.apply(int2date)
print('modDOA shape' , modDOA.shape)
print(modDOA.head())

DOA shape (3631,)
0    20150526
1    20151214
2    20200101
3    20230104
4    20230101
Name: Date_of_Appointment, dtype: int64
modDOA shape (3631,)
0    2015-05-26
1    2015-12-14
2    2020-01-01
3    2023-01-04
4    2023-01-01
Name: Date_of_Appointment, dtype: object

In [39]:
#yes
#Date of Termination
DOT = agent['Date_of_Termination']
print('DOT shape' , DOT.shape)
print(DOT.head(10))

DOT.replace({99999999 : datetime.today().strftime('%Y%m%d')}, inplace=True)

#if (DOT == 99999999) :
#        DOT.replace({99999999 : -1}, inplace=True)
#else :
#    DOT = DOT.apply(int2date)    
    
        
#DOT.replace({99999999 : -1}, inplace=True)
#DOT = DOT.apply(int2date)
DOT.head(10)

#modDOT = DOT.apply(int2date)
#print('modDOT shape' , modDOT.shape)
#print(modDOT.head())

DOT shape (3631,)
0    99999999
1    99999999
2    99999999
3    99999999
4    99999999
5    99999999
6    99999999
7    99999999
8    99999999
9    99999999
Name: Date_of_Termination, dtype: int64

0    20200415
1    20200415
2    20200415
3    20200415
4    20200415
5    20200415
6    20200415
7    20200415
8    20200415
9    20200415
Name: Date_of_Termination, dtype: object

In [40]:
DOT.unique()

array(['20200415', 20200101, 20210201, 20170101, 20160101, 20210101,
       20220122, 20200131, 20230101], dtype=object)

In [41]:
#yes
# df['purchase'].astype(str).astype(int)
#train['C14'] = train.C14.astype(int)
#
DOT = DOT.astype(int)
DOT.head(10)

0    20200415
1    20200415
2    20200415
3    20200415
4    20200415
5    20200415
6    20200415
7    20200415
8    20200415
9    20200415
Name: Date_of_Termination, dtype: int32

In [43]:
#yes
modDOT = DOT.apply(int2date)  
modDOT.head()

0    2020-04-15
1    2020-04-15
2    2020-04-15
3    2020-04-15
4    2020-04-15
Name: Date_of_Termination, dtype: object

In [21]:
modDOT.unique()

array([datetime.date(2020, 4, 15), datetime.date(2020, 1, 1),
       datetime.date(2021, 2, 1), datetime.date(2017, 1, 1),
       datetime.date(2016, 1, 1), datetime.date(2021, 1, 1),
       datetime.date(2022, 1, 22), datetime.date(2020, 1, 31),
       datetime.date(2023, 1, 1)], dtype=object)

In [22]:
#to verify 3619 2020-04-14 (current date) is present
modDOT.value_counts()

2020-04-15    3619
2020-01-01       5
2021-02-01       1
2023-01-01       1
2017-01-01       1
2020-01-31       1
2021-01-01       1
2022-01-22       1
2016-01-01       1
Name: Date_of_Termination, dtype: int64

In [52]:
#Active agent duration - lenght
# modDOT - modDOA
#Active_duration = (modDOT - modDOA) 
Active_duration = (modDOT('%Y') - modDOA('%Y')) 
Active_duration

TypeError: 'Series' object is not callable

In [23]:
#Agent Date of Birth
DOB = agent['Agent_Date_of_Birth']
print('DOB shape' , DOB.shape)
print(DOB.head(10))

DOB shape (3631,)
0    19910507
1    19830404
2    19800101
3    19750101
4    19880101
5    19880101
6    19850101
7    99999999
8    19860101
9    19910507
Name: Agent_Date_of_Birth, dtype: int64

In [24]:
DOB.replace({99999999 : 11111111}, inplace=True)
print(DOB.head(10))
#
modDOB = DOB.apply(int2date)
modDOB.head(10)

0    19910507
1    19830404
2    19800101
3    19750101
4    19880101
5    19880101
6    19850101
7    11111111
8    19860101
9    19910507
Name: Agent_Date_of_Birth, dtype: int64

0    1991-05-07
1    1983-04-04
2    1980-01-01
3    1975-01-01
4    1988-01-01
5    1988-01-01
6    1985-01-01
7    1111-11-11
8    1986-01-01
9    1991-05-07
Name: Agent_Date_of_Birth, dtype: object

In [25]:
#to verify 32 rows of 1111-11-11 is present
modDOB.value_counts()

1980-01-01    2767
2018-02-01     154
1992-01-01      64
1990-01-01      56
1984-12-07      53
2002-01-01      49
1975-01-01      40
1975-06-01      38
1988-01-01      38
1111-11-11      32
1985-01-01      24
1981-01-01      22
1998-01-07      16
2020-01-01      15
1993-01-07      12
2003-01-07      11
1986-01-01       9
1995-01-01       8
1965-01-01       8
1993-01-01       8
1987-01-01       7
1982-01-01       7
1985-07-15       7
1995-12-01       7
1994-06-14       7
1989-01-01       6
2000-01-01       6
1960-01-01       5
1983-05-26       5
1975-02-02       5
              ...
2020-07-01       1
1993-01-05       1
1988-05-13       1
1964-06-10       1
1990-02-01       1
1993-07-01       1
1980-02-05       1
1983-01-01       1
2003-07-02       1
1985-12-28       1
1988-05-14       1
1980-02-06       1
1988-05-06       1
2017-01-01       1
1996-10-01       1
1987-08-16       1
1992-07-15       1
1989-11-18       1
1988-06-01       1
1990-05-05       1
1973-02-02       1
2015-11-24       1
1988-03-15       1
1993-01-14       1
1980-01-02       1
2021-01-02       1
1990-02-10       1
1989-11-11       1
1984-07-12       1
1987-06-04       1
Name: Agent_Date_of_Birth, Length: 143, dtype: int64

In [34]:
from datetime import date

def calculate_age(dtob):
    today = date.today()
    return today.year - dtob.year - ((today.month, today.day) < (dtob.month, dtob.day))
#print()
#print(calculate_age(date(2006,10,12)))
#print(calculate_age(date(1989,1,12)))
#print()

calculate_age(date(modDOB))

In [44]:
from dateutil.relativedelta import relativedelta
rdelta = relativedelta(now, birthdate)
#print 'Age in years - ', rdelta.years
#print 'Age in months - ', rdelta.months
#print 'Age in days - ', rdelta.days