In [35]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.mixture import GaussianMixture #For GMM clustering
import seaborn as sns
import matplotlib.pyplot as plt
from kmodes.kprototypes import KPrototypes

%matplotlib inline

In [36]:
# Import Data

df = pd.read_csv('EX_SOURCE_CUSTOMER_SEGMENTATION_LIFE.csv')
df.head()

,Client Number,Client Type,Client Sex,Client Date of Birth,Client Marital Status,Client Name,CLTV Band,client_name,Propensity,City,Lat,Lng,Population,Tier,Population Class,Customer Age,Profession Category
0,50000847,P,M,19800101,M,BOSCO DON,high value,Drake willson,0.172292,Bhāgalpur,25.244462,86.971832,361548.0,Tier-1,Urban,46,Blue Collar Job
1,50001036,P,M,19860101,M,Way Tily,low value,NINJA RUL,0.063220,Nāra,21.203096,79.089284,2454000.0,Tier-1,Metropolitan,58,Blue Collar Job
2,50030482,P,M,19800101,M,Ansh TEN,high value,Pal Inder,0.067246,Nāra,21.203096,79.089284,2454000.0,Tier-1,Metropolitan,57,Blue Collar Job
3,50052159,P,M,19850101,S,RTA Ashish,high value,Anthony Lim,0.091467,Nāra,21.203096,79.089284,2454000.0,Tier-1,Metropolitan,55,Other
4,50001209,P,M,19850715,S,John Anderson,high value,Andy F Bambang,0.066643,Gaya,24.796858,85.003852,423692.0,Tier-1,Urban,64,White Collar Job

In [37]:
df.shape

(359, 17)

In [38]:
df.isnull().sum()

Client Number             0
Client Type               0
Client Sex                0
Client Date of Birth      0
Client Marital Status     0
Client Name               0
CLTV Band                 0
client_name               0
Propensity                0
City                      0
Lat                       0
Lng                       0
Population               12
Tier                      0
Population Class          0
Customer Age              0
Profession Category       0
dtype: int64

In [39]:
# delete the rows - 'Client Number', 'Client Date of Birth', 'Client Name', 'client_name', 'Lat', 'Lng' 'Population'
df = df.drop(['Client Number', 'Client Date of Birth', 'Client Name', 'client_name', 'Lat', 'Lng', 'Population'], axis=1)

In [40]:
df.head()

,Client Type,Client Sex,Client Marital Status,CLTV Band,Propensity,City,Tier,Population Class,Customer Age,Profession Category
0,P,M,M,high value,0.172292,Bhāgalpur,Tier-1,Urban,46,Blue Collar Job
1,P,M,M,low value,0.063220,Nāra,Tier-1,Metropolitan,58,Blue Collar Job
2,P,M,M,high value,0.067246,Nāra,Tier-1,Metropolitan,57,Blue Collar Job
3,P,M,S,high value,0.091467,Nāra,Tier-1,Metropolitan,55,Other
4,P,M,S,high value,0.066643,Gaya,Tier-1,Urban,64,White Collar Job

In [41]:
df.shape

(359, 10)

In [42]:
df.columns

Index(['Client Type', 'Client Sex', 'Client Marital Status', 'CLTV Band',
       'Propensity', 'City', 'Tier', 'Population Class', 'Customer Age',
       'Profession Category'],
      dtype='object')

In [43]:
df.dtypes

Client Type               object
Client Sex                object
Client Marital Status     object
CLTV Band                 object
Propensity               float64
City                      object
Tier                      object
Population Class          object
Customer Age               int64
Profession Category       object
dtype: object

In [44]:
df_array=df.values
df_array

array([['P', 'M', 'M', ..., 'Urban', 46, 'Blue Collar Job'],
       ['P', 'M', 'M', ..., 'Metropolitan', 58, 'Blue Collar Job'],
       ['P', 'M', 'M', ..., 'Metropolitan', 57, 'Blue Collar Job'],
       ...,
       ['P', 'M', 'S', ..., 'Urban', 26, 'Other'],
       ['P', 'M', 'M', ..., 'Urban', 67, 'White Collar Job'],
       ['P', 'M', 'M', ..., 'Urban', 31, 'Other']], dtype=object)

In [45]:
df_array[:, 1] = df_array[:, 1].astype(float)

ValueError: could not convert string to float: 'M'

In [46]:
kproto = KPrototypes(n_clusters=3, verbose=2,max_iter=20)
clusters = kproto.fit_predict(df_array, categorical=[0, 2, 4])

ValueError: could not convert string to float: 'M'